# **<font color='crimson'>PYTHON. Loop For: Frequent Scenarios</font>**

---

In [ ]:
###

In [ ]:
--1
from math import log

n = int(input())

summ = 0

for i in range(1, n + 1):
    summ += 1/i

summ -= log(n)

print(summ)

In [ ]:
###

In [ ]:
--2
n = int(input())

summ = 0

for i in range(n + 1):
   if i ** 2 % 10 == 2 or i ** 2 % 10 == 5 or i ** 2 % 10 == 8:
       summ += i

print(summ)

In [ ]:
###

In [ ]:
--3
n = int(input())

summ = 0

for i in range(5, n + 1, 10):
    summ += i

print(summ)

In [ ]:
###

In [ ]:
--4
n = int(input())

res = 1

for i in range(1, n + 1):
    res *= i

print(res)

In [ ]:
###

In [ ]:
--5
res = 1

for _ in range(10):
    temp = int(input())
    if temp:
        res *= temp

print(res)

In [ ]:
###

In [ ]:
--6
n = int(input())

res = n

for i in range(1, int(n // 2 + 1)):
    if n % i == 0:
        res += i

print(res)

In [ ]:
###

In [ ]:
--7
n = int(input())

res = 0

for i in range(1, n + 1):
    res += (-1) ** (i + 1) * i

print(res)

In [ ]:
###

In [ ]:
--8
n = int(input())

first = 0
second = 0

for _ in range(n):
    temp = int(input())
    if temp > first:
        second = first
        first = temp
    elif temp > second:
        second = temp

print(first, second, sep = '\n')

In [ ]:
###

In [ ]:
--9
res = 1

for _ in range(10):
    temp = int(input())
    if temp % 2 == 0:
        res *= 1
    else:
        res *= 0

print(*['YES' if res else 'NO'])

In [ ]:
###

In [ ]:
--10
n = int(input())

a = 1
b = 1

for _ in range(n):
    print(a, end = ' ')
    a, b = b, a + b