# **<font color='crimson'>PYTHON. Nested Loops</font>**

---

In [ ]:
###

In [ ]:
--1
n = int(input())

for i in range(n):
    for j in range(3):
        print(n, end = ' ')
    print()

In [ ]:
###

In [ ]:
--2
n = int(input())

for i in range(n):
    for _ in range(5):
        print(i + 1, end = ' ')
    print()

In [ ]:
###

In [ ]:
--3
n = int(input())

for i in range(1, n + 1):
    for j in range(1, 10):
        print(i, '+', j, '=', i + j)
    print()

In [ ]:
###

In [ ]:
--4
n = int(input())

for i in range(1, n + 1):
    if i <= (n // 2) + 1:
        for _ in range(i):
            print('*', end = '')
        print()
    else:
        for _ in range(n - i + 1, 0, -1):
            print('*', end = '')
        print()

In [ ]:
###

In [ ]:
--5
n = int(input())

for i in range(1, n + 1):
    for _ in range(i):
        print(i, end = '')
    print()

In [ ]:
###

In [ ]:
--6
counter = 0

for n in range(1 ,14):
    for k in range (1, 14):
        for m in range (1, 13):
            if 28 * n + 30 * k + 31 * m == 365:
                counter += 1
                print(f'n = {n}, k = {k}, m = {m}')
print(f'Общее число решений: {counter}')

n = 1, k = 4, m = 7
n = 2, k = 1, m = 9
Общее число решений: 2

In [ ]:
###

In [ ]:
--7
for x in range(1, 11):
    for y in range(1, 21):
        for z in range(1, 201):
            if (x + y + z) == 100 and 10 * x + 5 * y + 0.5 * z == 100:
                print(f'x = {x}, y = {y}, z = {z}')

x = 1, y = 9, z = 90

In [ ]:
###

In [22]:
--8
# refutation of Euler's Hypothesis on the sum of degrees
from datetime import datetime
start_time = datetime.now()

for a in range(1, 151):
    for b in range(a, 151):
        for c in range(b, 151):
            for d in range(c, 151):
                summ = a ** 5 + b ** 5 + c ** 5 + d ** 5
                e = int(summ ** (1/5))
                if summ == e ** 5:
                    print(f'a = {a}, b = {b}, c = {c}, d = {d}, e = {e}')
                    print(f'a + b + c + d + e = {a + b + c + d + e}')
                    break

end_time = datetime.now()
print('Длительность: {}'.format(end_time - start_time))

a = 27, b = 84, c = 110, d = 133, e = 144
a + b + c + d + e = 498
Длительность: 0:00:47.111423

In [ ]:
###

In [ ]:
--9
n = int(input())
alpha = 1

for i in range(1, n + 1):
    for j in range(alpha, alpha + i):
        print(j, end = ' ')
    print()
    alpha += i

In [ ]:
###

In [ ]:
--10
n = int(input())

for i in range(1, n + 1):
    for j in range(1, i + 1):
        print(j, end = '')
    for k in range(i - 1, 0, -1):
        print(k, end = '')
    print()

In [ ]:
###

In [ ]:
--11
a, b = [int(input()) for i in range(2)]

number = 0
summ = 0

temp_number = 0
temp_summ = 0

for i in range(a, b + 1):
    for j in range(1, i + 1):
        if i % j == 0:
            temp_summ += j
    if temp_summ >= summ and i > number:
        number = i
        summ = temp_summ
    temp_summ = 0
    temp_number = 0

print(number, summ)

In [ ]:
###

In [ ]:
--12
n = int(input())

counter = ''

for i in range(1, n + 1):
    for j in range(1, i + 1):
        if i % j == 0:
            counter += '+'
    print(i, counter, sep = '')
    counter = ''

In [ ]:
###

In [ ]:
--13
n = int(input())

while n > 9:
    summ = 0
    while n > 0:
        summ += n % 10
        n //= 10
    n = summ
print(n)

In [ ]:
###

In [3]:
--14
n = 20

summ = 0

for i in range(1, n + 1):
    product = 1
    for j in range(1, i + 1):
        product *= j
    summ += product

print(summ)

2561327494111820313

In [ ]:
###

In [15]:
--15
a, b = 1, 100

for i in range(a, b + 1):
    counter = 0
    for j in range(2, int(i ** 0.5 + 1)):
        if i % j == 0:
            counter += 1
    if not counter and i != 1:
        print(i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [ ]:
###

In [21]:
--16
a, b = 2, 15

for i in range(a, b + 1):
    if i == 1:
        continue
    for j in range(2, int(i ** 0.5 + 1)):
        if i % j == 0:
            break
    else:
        print(i)

2
3
5
7
11
13