# **<font color='crimson'>PYTHON. If / Else</font>**

---

In [ ]:
###

In [ ]:
--1
n = int(input())

iter = 0
summ = 0

while iter < 2:
    summ += n % 10
    n //= 10
    iter += 1

print('NO' if summ else 'YES')

In [ ]:
###

In [ ]:
--2
a, b, c, d = [int(input()) for i in range(4)]

# черные клетки
if (
    ((a % 2 == 1 and b % 2 == 0) or (a % 2 == 0 and b % 2 == 1))
    and ((c % 2 == 1 and d % 2 == 0) or (c % 2 == 0 and d % 2 == 1))
    ):
    print('YES')
# белые клетки
elif a == b and c == d:
    print('YES')
# белые клетки
elif (
    ((a % 2 == 1 and b % 2 == 1) or (a % 2 == 0 and b % 2 == 0))
    and ((c % 2 == 1 and d % 2 == 1) or (c % 2 == 0) and (d % 2) == 0)
    ):
    print('YES')
else:
    print('NO')

In [ ]:
###

In [ ]:
--3
age = int(input())
sex = input()

if sex == 'f' and 10 <= age <= 15:
    print('YES')
else:
    print('NO')

In [ ]:
###

In [ ]:
--4
n = int(input())

if n < 1 or n > 10:
    print('ошибка')
elif n == 1:
    print('I')
elif n == 2:
    print('II')
elif n == 3:
    print('III')
elif n == 4:
    print('IV')
elif n == 5:
    print('V')
elif n == 6:
    print('VI')
elif n == 7:
    print('VII')
elif n == 8:
    print('VIII')
elif n == 9:
    print('IX')
elif n == 10:
    print('X')

In [ ]:
###

In [ ]:
--5
n = int(input())

if n % 2 == 1:
    print('YES')
elif n % 2 == 0:
    if 2 <= n <= 5:
        print('NO')
    elif  6 <= n <= 20:
        print('YES')
    else:
        print('NO')

In [ ]:
###

In [ ]:
--6
a, b, c, d = [int(input()) for _ in range(4)]

flag = False

if abs(a - c) == abs(b - d):
    flag = True

print('YES' if flag else 'NO')

In [ ]:
###

In [ ]:
--7
a, b, c, d = [int(input()) for _ in range(4)]

if (
   (c - a == 2 and d - b == -1)
   or (c - a == 1 and d - b == -2)
   or (c - a == 2 and d - b == 1)
   or (c - a == 1 and d - b == 2)
   or (c - a == -1 and d - b == 2)
   or (c - a == -2 and d - b == 1)
   or (c - a == -2 and d - b == -1)
   ):
   print('YES')
else:
   print('NO')

In [ ]:
###

In [ ]:
--8
a, b, c, d = [int(input()) for _ in range(4)]

flag = False

if (
    (abs(a - c) == 2 and abs(b - d) == 1)
    or ((abs(a - c) == 1 and abs(b - d) == 2))
    ):
    flag = True

print('YES' if flag else 'NO')

In [ ]:
###

In [ ]:
--9
a, b, c, d = [int(input()) for _ in range(4)]

flag = False

if abs(a - c) == abs(b - d):
    flag = True
elif a == c or b == d:
    flag = True

print('YES' if flag else 'NO')