# **<font color='crimson'>PYTHON. Lists</font>**

---

In [ ]:
###

In [ ]:
--1
n = int(input())

stroka = ''

for i in range(n):
    lettre = chr(ord('a') + i)
    stroka += lettre

array = [*stroka]
print(array)

In [ ]:
###

In [ ]:
--2
res = []

for i in range(26):
    res.append(chr(ord('a') + i) * (i + 1))

print(res)

In [ ]:
###

In [ ]:
--3
n = int(input())

array = []

for _ in range(n):
    array.append(int(input()) ** 3)

print(array)

In [ ]:
###

In [ ]:
--4
n = int(input())

second_bound = int(n // 2 + 1)

res = []

for i in range(1, second_bound):
    if n % i == 0:
        res.append(i)

res += [n]

print(res)

In [ ]:
###

In [ ]:
--5
n = int(input())

array = [int(input()) for _ in range(n)]

new_array = []
iter = 0

while iter < len(array) - 1:
    new_array.append(array[iter] + array[iter + 1])
    iter += 1

print(new_array)

In [ ]:
###

In [ ]:
--6
n = int(input())

array = []

for _ in range(n):
    array.append(int(input()))

del array[1::2]

print(array)

In [ ]:
###

In [ ]:
--7
n = int(input())

array = []

for _ in range(n):
    array.append(input())

k = int(input()) - 1

for char in array:
    if len(char) >= k + 1:
        print(char[k], end = '')

In [ ]:
###

In [ ]:
--8
n = int(input())

array = []

for _ in range(n):
    array.extend(input())

print(array)

In [ ]:
###

In [ ]:
--9
numbers = [1, 78, 23, -65, 99, 9089, 34, -32, 0, -67, 1, 11, 111]

numbers_squared = [num ** 2 for num in numbers]

res = sum(numbers_squared)

print(res)

In [ ]:
###

In [ ]:
--10
n = int(input())

array_1 = []
array_2 = []

for _ in range(n):
    array_1.append(int(input()))

for x in array_1:
    array_2.append(x ** 2 + 2 * x + 1)

print(*array_1, sep = '\n')
print()
print(*array_2, sep = '\n')

In [ ]:
###

In [ ]:
--11
n = int(input())

array = [int(input()) for _ in range(n)]

max_num = max(array)
min_num = min(array)

array.remove(max_num)
array.remove(min_num)

print(*array, sep = '\n')

In [ ]:
###

In [ ]:
--12
n = int(input())

collection = [input() for _ in range(n)]

res = []

for sentence in collection:
    if sentence not in res:
        res.append(sentence)

print(*res, sep = '\n')

In [ ]:
###

In [ ]:
--13
n = int(input())

collection = [input() for _ in range(n)]

request = input()

for sentence in collection:
    if request.lower() in sentence.lower():
        print(sentence)

In [ ]:
###

In [ ]:
--14
n = int(input())
collection = [input() for _ in range(n)]

k = int(input())
requests = [input() for _ in range(k)]

len_requests = len(requests)

for sentence in collection:
    counter = 0
    for request in requests:
        if request.lower() in sentence.lower():
            counter += 1
    if counter == len_requests:
        print(sentence)

In [ ]:
###

In [ ]:
--15
n = int(input())

array = [int(input()) for _ in range(n)]

res1 = [i for i in array if i < 0]
res2 = [i for i in array if i == 0]
res3 = [i for i in array if i > 0]

res = res1 + res2 + res3

print(*res, sep = '\n')

In [ ]:
###

In [ ]:
--16
text = input().split()

for char in text:
    print(f'{char[0]}.', end = '')

In [ ]:
###

In [ ]:
--17
text = input().split('\\')

print(*text, sep = '\n')

In [ ]:
###

In [ ]:
--18
ip = [int(x) for x in input().split('.')]

for i in ip:
    if i < 0 or i > 255:
        print('НЕТ')
        break
else:
    print('ДА')

In [ ]:
###

In [ ]:
--19
text = input()
separator = input()

text = [*text]

res = (separator).join(text)

print(res)

In [ ]:
###

In [ ]:
--20
seq = [int(x) for x in input().split()]

counter = 0

for i in range(len(seq) - 1):
    for j in range(i + 1, len(seq)):
        if seq[i] == seq[j]:
            counter += 1

print(counter)

In [ ]:
###

In [ ]:
--21
numbers = [8, 9, 10, 11]

numbers[1] = 17
numbers.extend([4, 5, 6])
numbers.pop(0)
numbers *= 2
numbers.insert(3, 25)

print(numbers)

17 10 11 25 4 5 6 17 10 11 4 5 6

In [ ]:
###

In [ ]:
--22
seq = [int(x) for x in input().split()]

max_number = max(seq)
min_number = min(seq)

max_index = seq.index(max_number)
min_index = seq.index(min_number)

seq[max_index] = min_number
seq[min_index] = max_number

print(*seq)

In [ ]:
###

In [ ]:
--23
text = input().lower().split()

articles = ['a', 'an', 'the']

counter = [text.count(x) for x in articles]

print(f'Общее количество артиклей: {sum(counter)}')

In [ ]:
###

In [ ]:
--24
n = int(input()[1:])

for _ in range(n):
    temp = input()
    if '#' not in temp:
        temp = temp.rstrip()
        print(temp)
    else:
        temp = temp.split('#')[0]
        temp = temp.rstrip()
        print(temp)

In [ ]:
###

In [ ]:
--25
seq = [int(x) for x in input().split()]

seq.sort()
print(*seq)

seq.sort(reverse = True)
print(*seq)

In [ ]:
###

In [ ]:
--26
palindromes = [x for x in range(100, 1001) if str(x) == str(x)[::-1]]

print(palindromes)

In [ ]:
###

In [ ]:
--27
palindromes = [x for x in range(100, 1001) if x % 10 == x // 100]

print(palindromes)

In [ ]:
###

In [ ]:
--28
n = int(input())

seq = [x ** 2 for x in range(1, n + 1)]

print(*seq, sep = '\n')

In [ ]:
###

In [ ]:
--29
seq = input().split()

res = [int(x) ** 3 for x in seq]

print(*res)

In [ ]:
###

In [ ]:
--30
text = input().split()

print(*text, sep = '\n')

In [ ]:
###

In [ ]:
--31
text = input()

digits = '0123456789'

res = [x for x in text if x in digits]

res = ''.join(res)

print(res)

In [ ]:
###

In [ ]:
--32
seq = [int(x) for x in input().split()]

res = [x ** 2 for x in seq if x % 2 == 0 and x ** 2 % 10 != 4]

print(*res)

In [ ]:
###

In [ ]:
--33
# сортировка пузырьком
a = [
    17, 24, 91, 96, 67, -27, 79, -71, -71, 58, 48, 88,
    88, -16, -78, 96, -76, 56, 92, 1, 32, -17, 36, 88,
    -61, -97, -37, -84, 50, 47, 94, -6, 52, -76, 93,
    14, -32, 98, -65, -16, -9, -68, -20, -40, -71, 93,
    -91, 44, 25, 79, 97, 0, -94, 7, -47, -96, -55, -58,
    -78, -78, -79, 75, 44, -56, -41, 38, 16, 70, 17, -17,
    -24, -83, -74, -73, 11, -26, 63, -75, -19, -13, -51,
    -74, 21, -8, 21, -68, -66, -84, -95, 78, 69, -29, 39,
    38, -55, 7, -11, -26, -62, -84
]

n = len(a)

for i in range(n - 1):
    count = 0
    for j in range(n - i - 1):
        if a[j] > a[j + 1]:
            count += 1
            a[j], a[j + 1] = a[j + 1], a[j]
    if count == 0:
        break

print(a)

In [ ]:
###

In [ ]:
--34
# сортировка выбором

a = [
    78, -32, 5, 39, 58, -5, -63, 57, 72, 9, 53, -1, 63,
    -97, -21, -94, -47, 57, -8, 60, -23, -72, -22, -79,
    90, 96, -41, -71, -48, 84, 89, -96, 41, -16, 94, -60,
    -64, -39, 60, -14, -62, -19, -3, 32, 98, 14, 43, 3,
    -56, 71, -71, -67, 80, 27, 92, 92, -64, 0, -77, 2,
    -26, 41, 3, -31, 48, 39, 20, -30, 35, 32, -58, 2, 63,
    64, 66, 62, 82, -62, 9, -52, 35, -61, 87, 78, 93, -42,
    87, -72, -10, -36, 61, -16, 59, 59, 22, -24, -67, 76, -94, 59
]

n = len(a)
last_index = n - 1

for i in range(n - 1):
    max_value = a[0]
    for j in range(n - i):
        if a[j] >= max_value:
            max_value = a[j]
    max_index = a.index(max_value)
    a[max_index], a[last_index] = a[last_index], a[max_index]
    last_index -= 1

In [ ]:
###

In [ ]:
--35
n = int(input())

res = [*range(2, n + 1, 2)]

print(res)

In [ ]:
###

In [ ]:
--36
L = [int(x) for x in input().split()]
M = [int(x) for x in input().split()]

res = []

for i in range(len(L)):
    res.append(L[i] + M[i])

print(*res)

In [ ]:
###

In [19]:
--37
seq = '2 5 11 33 55'

part_1 = '+'.join(seq.split(' ')) + '='
part_2 = str(sum([int(x) for x in seq.split(' ')]))

print(part_1 + part_2)

2+5+11+33+55=106

In [ ]:
###

In [15]:
--38
phone = '3014475820'

if len(phone) == 14 and phone[:2] == '7-':
    phone = phone[2:]

if len(phone) == 12:
    temp = phone.split('-')
    if (
        len(temp[0]) == 3
        and len(temp[1]) == 3
        and len(temp[2]) == 4
        and ''.join(temp).isdigit()):
        print('YES')
    else:
        print('NO')
else:
    print('NO')

NO

In [ ]:
###

In [20]:
--39
text = 'проспал почти всю ночь'.split(' ')

max_len = len(text[0])

for char in text:
    if len(char) >= max_len:
        max_len = len(char)

print(max_len)

7

In [ ]:
###

In [21]:
--40
len_words = [len(x) for x in 'проспал почти всю ночь'.split(' ')]

print(max(len_words))

7

In [ ]:
###

In [23]:
--41
text = 'проспал почти всю ночь'

youth_jargon = [word[1:] + word[0] + 'ки' for word in text.split(' ')]

print(*youth_jargon)

роспалпки очтипки сювки очьнки