# **<font color='crimson'>PANDAS. Series</font>**

---

## **<font color='navy'>Создание объекта Series в Pandas</font>**

---

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
###

In [ ]:
--1
temp = pd.Series([(1, 'a'), (2, 'b'), (3, 'c')])
print(temp)

0    (1, a)
1    (2, b)
2    (3, c)
dtype: object

In [ ]:
###

In [ ]:
--2
data = pd.Series([1,2,3], index = ['a', 'b', 'c'])
print(data)

a    1
b    2
c    3
dtype: int64

In [ ]:
###

In [ ]:
--3
data = pd.Series({'a': 1, 'b': 2, 'c': 3})
print(data)

a    1
b    2
c    3
dtype: int64

In [ ]:
###

In [ ]:
--4
arr = np.array([1, 2, 3, 4, 5])
data = pd.Series(arr)
print(data)

In [ ]:
###

In [ ]:
--5
data = pd.Series(0, index = ['a', 'b', 'c'])
print(data)

In [ ]:
###

In [ ]:
--6
# first_list = input().split()
# second_list = list(map(int, input().split()))

first_list = ['a', 'b', 'c']
second_list = [4, 6, 2]

tuple_list = list(zip(first_list, second_list))

data = pd.Series(
    data = tuple_list
)

print(data)

0    (a, 4)
1    (b, 6)
2    (c, 2)
dtype: object

In [ ]:
###

In [ ]:
--7
# line = input().split()

line = 'banana ananasa mandarina apelsina'.split()

data = pd.Series(
    data = line
)

print(data)

0       banana
1      ananasa
2    mandarina
3     apelsina
dtype: object

In [ ]:
###

In [ ]:
--8
alphabet = [
    'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n',
    'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z'
]

# line = list(map(bool, list((map(int, input().split())))))

line = list(map(bool, list((map(int, '1 0 1 0 0 1'.split())))))

data = pd.Series(
    data = line,
    index = alphabet[:len(line)]
)

print(data)

a     True
b    False
c     True
d    False
e    False
f     True
dtype: bool

In [ ]:
###

In [ ]:
--9
dates = ['2022-01-01', '2022-01-02', '2022-01-03']

data = pd.Series(
    data = dates
)

print(data)

0    2022-01-01
1    2022-01-02
2    2022-01-03
dtype: object

In [ ]:
###

In [ ]:
--10
# n, m = [int(input()) for _ in range(2)]

n, m = 1, 89

nums = list(range(n, m + 1, 10))
indexes = list(range(1, len(nums) * 2, 2))

data = pd.Series(
    data = nums,
    index = indexes
)

print(data)

1      1
3     11
5     21
7     31
9     41
11    51
13    61
15    71
17    81
dtype: int64

## **<font color='navy'>Атрибуты index и values объекта pandas.Series</font>**

---

In [ ]:
###

In [ ]:
--11
indexes = [chr(i) for i in range(ord('A'), ord('A') + 10)]
numbers = list(range(1, 20, 2))

data = pd.Series(
    data = numbers,
    index = indexes
)

print(data)

A     1
B     3
C     5
D     7
E     9
F    11
G    13
H    15
I    17
J    19
dtype: int64

In [ ]:
###

In [ ]:
--12
abc = [chr(i) for i in range(ord('a'), ord('z') + 1)]

data = pd.Series(
    data = abc
)

print(data.index)
print(data.values)

RangeIndex(start=0, stop=26, step=1)
['a' 'b' 'c' 'd' 'e' 'f' 'g' 'h' 'i' 'j' 'k' 'l' 'm' 'n' 'o' 'p' 'q' 'r'
 's' 't' 'u' 'v' 'w' 'x' 'y' 'z']

In [ ]:
###

In [ ]:
--13
states = [
    'Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado',
    'Connecticut', 'Delaware', 'Florida', 'Georgia', 'Hawaii', 'Idaho',
    'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana',
    'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota',
    'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada',
    'New Hampshire', 'New Jersey', 'New Mexico', 'New York',
    'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon',
    'Pennsylvania', 'Rhode Island', 'South Carolina', 'South Dakota',
    'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
    'West Virginia', 'Wisconsin', 'Wyoming']

populations = [
    4903185, 731545, 7278717, 3017825, 39538223, 578713, 3605944, 986809,
    21538187, 10711908, 1455271, 1826156, 12671821, 6745354, 3179849,
    2913314, 4467673, 4648794, 1344212, 6045680, 6893574, 9986857,
    5639632, 2976149, 6137428, 1068778, 1934408, 3080156, 3139658,
    1363582, 10100233, 10439388, 762062, 19849399, 10488084, 762062,
    11689100, 3953823, 4217737, 12801989, 1059361, 5148714, 884659,
    6897576, 328239523, 3205958, 623347, 8535519, 7614893, 1792147]

data = pd.Series(
    data = populations,
    index = states
)

# state = input()
state = 'Arizona'

print(data[state])
print(data.index)

7278717
Index(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado',
       'Connecticut', 'Delaware', 'Florida', 'Georgia', 'Hawaii', 'Idaho',
       'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana',
       'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota',
       'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada',
       'New Hampshire', 'New Jersey', 'New Mexico', 'New York',
       'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon',
       'Pennsylvania', 'Rhode Island', 'South Carolina', 'South Dakota',
       'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming'],
      dtype='object')

In [ ]:
###

In [ ]:
--14
data = pd.Series(
    data = populations,
    index = states
)

# states = input().split()
states = 'Alaska California Connecticut'.split()

print(data[states])

Alaska           731545
California     39538223
Connecticut     3605944
dtype: int64

In [ ]:
###

In [ ]:
--15
dates = """
2022-05-01 2022-05-02 2022-05-03 2022-05-04 2022-05-05 2022-05-06 2022-05-07 2022-05-08 2022-05-09 2022-05-10 2022-05-11 2022-05-12 2022-05-13 2022-05-14 2022-05-15 2022-05-16 2022-05-17 2022-05-18 2022-05-19 2022-05-20
""".split()

prices = list(map(int, """
64 73 71 142 93 128 114 104 59 198 90 160 150 180 145 189 163 178 118 59
""".split()))

data = pd.Series(
    data = prices,
    index = dates
)

selection_dates = '2022-05-03 2022-05-04 2022-05-05 2022-05-18'.split()

print(data[selection_dates])

2022-05-03     71
2022-05-04    142
2022-05-05     93
2022-05-18    178
dtype: int64

In [ ]:
###

In [ ]:
--16
data = pd.Series(
    data = prices,
    index = dates
)

selection_dates = '2022-05-01 2022-05-02 2022-05-03'.split()

print(*data[selection_dates])

64 73 71

In [ ]:
###

In [ ]:
--17
from datetime import date, timedelta
np.random.seed(33)
dates = list(map(str,[date(2019, 1, 4) + timedelta(days=i) for i in range(360)]))
temperatures = np.random.randint(-10, 35, len(dates))

data = pd.Series(
    data = temperatures,
    index = dates
)

month = input()
month = '0' + month if len(month) == 1 else month

indexes = [i for i in list(data.index) if month == i[5:7]]

#print(data[min(indexes):max(indexes)])
print(data[indexes])

In [ ]:
###

In [ ]:
--18
names = 'Иван Олег Татьяна Марина Алексей Андрей'.split()
notes = list(map(int, '65 61 83 68 69 99'.split()))

data = pd.Series(
    data = notes,
    index = names
)

print(*data['Олег Татьяна'.split()])

61 83

In [ ]:
###

In [ ]:
--19
countries = """Россия США Китай Индия Япония Германия Великобритания
Франция Италия Канада Южная_Корея Австралия
""".split()

populations = list(
    map(
        float,
        '144.5 328.2 1393 1366 126.5 83.1 66.7 66.99 60.4 37.59 51.78 25.4'.split()))

data = pd.Series(
    data = populations,
    index = countries
)

country = 'Германия 82'.split()

data[country[0]] = float(country[1])

print(data)

Россия             144.50
США                328.20
Китай             1393.00
Индия             1366.00
Япония             126.50
Германия            82.00
Великобритания      66.70
Франция             66.99
Италия              60.40
Канада              37.59
Южная_Корея         51.78
Австралия           25.40
dtype: float64

In [ ]:
###

In [ ]:
--20
books = [
    'Преступление и наказание', 'Мастер и Маргарита',
    '451 градус по Фаренгейту', '1984', 'Убить пересмешника',
    'Гарри Поттер и философский камень']
prices = [499, 599, 399, 299, 349, 699]

data = pd.Series(
    data = prices,
    index = books
)

print(data)

book_name = '451 градус по Фаренгейту'
book_price = '350'

data[book_name] = int(book_price)

print(data)

Преступление и наказание             499
Мастер и Маргарита                   599
451 градус по Фаренгейту             399
1984                                 299
Убить пересмешника                   349
Гарри Поттер и философский камень    699
dtype: int64
Преступление и наказание             499
Мастер и Маргарита                   599
451 градус по Фаренгейту             350
1984                                 299
Убить пересмешника                   349
Гарри Поттер и философский камень    699
dtype: int64

In [ ]:
###

In [ ]:
--21
dates = [
    '2022-06-04', '2022-06-05', '2022-06-06',
    '2022-06-07', '2022-06-08', '2022-06-09',
    '2022-06-10'
]

temperatures = [68, 72, 75, 70, 68, 73, 79]

data = pd.Series(
    data = temperatures,
    index = dates
)

print(data)
print()

data = (data  - 32) * 5/9

print(data)

2022-06-04    68
2022-06-05    72
2022-06-06    75
2022-06-07    70
2022-06-08    68
2022-06-09    73
2022-06-10    79
dtype: int64

2022-06-04    20.000000
2022-06-05    22.222222
2022-06-06    23.888889
2022-06-07    21.111111
2022-06-08    20.000000
2022-06-09    22.777778
2022-06-10    26.111111
dtype: float64

## **<font color='navy'>Атрибут dtype объекта Pandas</font>**

---

In [ ]:
###

In [ ]:
--22
data = pd.Series(
    data = range(1, 6),
    dtype = 'float64'
)

print(data)

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
dtype: float64

In [ ]:
###

In [ ]:
--23
line = '14 15 16 15 12 16 19'.split()

data = pd.Series(
    data = line,
    dtype = 'int16'
)

print(data)

0    14
1    15
2    16
3    15
4    12
5    16
6    19
dtype: int16

In [ ]:
###

In [ ]:
--24
line = ['red', 'green', 'blue', 'yellow', 'red', 'blue', 'green']

data = pd.Series(
    data = line,
    dtype = 'category'
)

print(data)

0       red
1     green
2      blue
3    yellow
4       red
5      blue
6     green
dtype: category
Categories (4, object): ['blue', 'green', 'red', 'yellow']

In [ ]:
###

In [ ]:
--25
numbers = [10, 20, 30, 40, 50]
indexes = ['a', 'b', 'c', 'd', 'e']

ser = pd.Series(
    data = numbers,
    index = indexes,
    dtype = 'int32'
)

print(ser)
print(ser['c'])

a    10
b    20
c    30
d    40
e    50
dtype: int32
30

In [ ]:
###

In [ ]:
--26
numbers = np.array(list(
    map(int, '222 345 654 345 455 665 341 40 565 345 654 345 99 33'.split())
    ))

ser = pd.Series(
    data = numbers,
    dtype = 'uint32'
)

print(ser)

0     222
1     345
2     654
3     345
4     455
5     665
6     341
7      40
8     565
9     345
10    654
11    345
12     99
13     33
dtype: uint32

In [ ]:
###

In [ ]:
--27
fruits =  ['apple', 'banana', 'cherry', 'durian', 'elderberry']

ser = pd.Series(
    data = fruits,
    dtype = 'string'
)

print(ser)

0         apple
1        banana
2        cherry
3        durian
4    elderberry
dtype: string

In [ ]:
###

In [ ]:
--28
dates = """
2050-01-15 2050-01-16 2050-01-17 2050-01-18
2050-01-19 2050-01-20 2050-01-21 2050-01-22
""".split()

ser = pd.Series(
    data = dates,
    dtype = 'datetime64[ns]'
)

print(ser)

0   2050-01-15
1   2050-01-16
2   2050-01-17
3   2050-01-18
4   2050-01-19
5   2050-01-20
6   2050-01-21
7   2050-01-22
dtype: datetime64[ns]

In [ ]:
###

In [ ]:
--29
elems = [1, 2, 3, None, 5, None]

ser = pd.Series(
    data = elems,
    dtype = 'float64'
)

print(ser)

0    1.0
1    2.0
2    3.0
3    NaN
4    5.0
5    NaN
dtype: float64

In [ ]:
###

In [ ]:
--30
sales = list(map(
    lambda x: int(x),
    '16 41 42 19 17 19 29 19 26 24 30 33 34 16 38'.split()
))

ser = pd.Series(
    data = sales,
    dtype = 'int32'
)

selection = list(map(
    lambda x: int(x),
    '2 3 7 4 0 1'.split()
))

print(ser)
print(ser[selection])

0     16
1     41
2     42
3     19
4     17
5     19
6     29
7     19
8     26
9     24
10    30
11    33
12    34
13    16
14    38
dtype: int32
2    42
3    19
7    19
4    17
0    16
1    41
dtype: int32

In [ ]:
###

In [ ]:
--31
colors = ['red', 'green', 'blue']
indexes = ['a', 'b', 'c']

ser = pd.Series(
    data = colors,
    index = indexes,
    dtype = 'string'
)

print(ser)
print(ser['b'])

a      red
b    green
c     blue
dtype: string
green

In [ ]:
###

In [ ]:
--32
bool_list = [True, False, True]
indexes = ['x', 'y', 'z']

ser = pd.Series(
    data = bool_list,
    index = indexes,
    dtype = 'bool'
)

print(ser)

ser[:] = False

print(ser)

x     True
y    False
z     True
dtype: bool
x    False
y    False
z    False
dtype: bool

In [ ]:
###

In [ ]:
--33
numbers = [10, 20, 30, 40]
indexes = ['a', 'b', 'c', 'd']

ser = pd.Series(
    data = numbers,
    index = indexes,
    dtype = 'float64'
)

print(ser)

ser *= 2

print(ser)

print(np.mean(ser))

a    10.0
b    20.0
c    30.0
d    40.0
dtype: float64
a    20.0
b    40.0
c    60.0
d    80.0
dtype: float64
50.0

In [ ]:
s = pd.Series([1, 2, 3, 4, 5])
s[s % 2 == 0] = s[s % 2 == 0] + 10
print(s)

0     1
1    12
2     3
3    14
4     5
dtype: int64

## **<font color='navy'>Задачи по теме применение математических функций и операторов</font>**

---

In [ ]:
###

In [ ]:
--34
numbers_1 = [1, 2, 3, 4, 5]
numbers_2 = [2, 4, 6, 8, 10]

ser_1 = pd.Series(
    data = numbers_1,
    dtype = 'int16'
)

ser_2 = pd.Series(
    data = numbers_2,
    dtype = 'int16'
)

print(ser_1 + ser_2)
print(ser_1 * ser_2)

0     3
1     6
2     9
3    12
4    15
dtype: int16
0     2
1     8
2    18
3    32
4    50
dtype: int16

In [ ]:
###

In [ ]:
--35
numbers_1 = [100, 200, 300, 400, 500]
numbers_2 = [50, 100, 150, 200, 250]

ser_1 = pd.Series(
    data = numbers_1
)

ser_2 = pd.Series(
    data = numbers_2
)

print(ser_1 - ser_2)
print(ser_1 / ser_2)

0     50
1    100
2    150
3    200
4    250
dtype: int64
0    2.0
1    2.0
2    2.0
3    2.0
4    2.0
dtype: float64

In [ ]:
###

In [ ]:
--36
numbers = [1, 2, 3, 4, 5]
indexes = [chr(i) for i in range(ord('a'), ord('a') + 5)]

ser = pd.Series(
    data = numbers,
    index = indexes
)

print(ser)

mask = ser < 3
print(ser[mask])

a    1
b    2
c    3
d    4
e    5
dtype: int64
a    1
b    2
dtype: int64

In [ ]:
###

In [ ]:
--37
numbers = [10, 20, 30]

ser = pd.Series(
    data = numbers
)

print(ser)

ser = ser > 15

print(ser)

0    10
1    20
2    30
dtype: int64
0    False
1     True
2     True
dtype: bool

In [ ]:
###

In [ ]:
--38
numbers = map(lambda x: float(x), '10 20 30'.split())

ser = pd.Series(
    data = numbers
)

print(ser)

print(ser * 2)

0    10.0
1    20.0
2    30.0
dtype: float64
0    20.0
1    40.0
2    60.0
dtype: float64

In [ ]:
###

In [ ]:
--39
numbers = [1, 2, 3]

ser = pd.Series(
    data = numbers
)

print(ser)
print(ser ** 2)

0    1
1    2
2    3
dtype: int64
0    1
1    4
2    9
dtype: int64

In [ ]:
###

In [ ]:
--40
numbers = [1.0, 2.0, 3.0]

ser = pd.Series(
    data = numbers
)

print(ser)
print(np.sin(ser))

0    1.0
1    2.0
2    3.0
dtype: float64
0    0.841471
1    0.909297
2    0.141120
dtype: float64

In [ ]:
###

In [ ]:
--41
numbers = [1.0, 2.0, 3.0]

ser_1 = pd.Series(
    data = numbers
)

ser_2 = round(np.sqrt(np.exp(ser_1) - np.log(ser_1)), 2)

print(ser_1)
print(ser_2)

0    1.0
1    2.0
2    3.0
dtype: float64
0    1.65
1    2.59
2    4.36
dtype: float64

In [ ]:
###

In [ ]:
--42
numbers = list(map(int, '1 4 5 3 7 9 8 2'.split()))

ser_1 = pd.Series(
    data = numbers,
    dtype = 'uint32'
)

mask = ser_1 % 2 == 1

ser_2 = ser_1[mask]

print(ser_1)
print(ser_2)

0    1
1    4
2    5
3    3
4    7
5    9
6    8
7    2
dtype: uint32
0    1
2    5
3    3
4    7
5    9
dtype: uint32

In [ ]:
###

In [ ]:
--43
numbers = list(map(int, '3 4 6 1 5 7 5 2 5 55 6 3 8'.split()))
# a, b = [int(input()) for _ in range(2)]
a, b = 5, 9

ser_1 = pd.Series(
    data = numbers
)

mask_1 = a < ser_1

ser_2 = ser_1[mask_1]

mask_2 = ser_2 < b

ser_2 = ser_2[mask_2]

print(ser_1)
print(ser_2)

0      3
1      4
2      6
3      1
4      5
5      7
6      5
7      2
8      5
9     55
10     6
11     3
12     8
dtype: int64
2     6
5     7
10    6
12    8
dtype: int64

In [ ]:
###

In [ ]:
--44
numbers = list(map(int, '2 0 -3 5 4 2 6 9 -12'.split()))

ser_1 = pd.Series(
    data = numbers,
    dtype = 'int8'
)

print(ser_1)

ser_2 = ser_1[ser_1 % 3 == 0]

print(ser_2)

0     2
1     0
2    -3
3     5
4     4
5     2
6     6
7     9
8   -12
dtype: int8
1     0
2    -3
6     6
7     9
8   -12
dtype: int8

In [ ]:
###

In [ ]:
--45
numbers = list(map(int, '1 2 3 4 5 6 1 4 5'.split()))

ser_1 = pd.Series(
    data = numbers,
    dtype = 'float32'
)

print(ser_1)

ser_2 = ser_1[ser_1 > np.mean(ser_1)]

print(ser_2)

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
5    6.0
6    1.0
7    4.0
8    5.0
dtype: float32
3    4.0
4    5.0
5    6.0
7    4.0
8    5.0
dtype: float32

In [ ]:
###

In [ ]:
--46
line = 'cat fish can able call'.split()

ser_1 = pd.Series(
    data = line,
    dtype = 'string'
)

print(ser_1)

letter = 'c'

mask = [True if ser_1[i][0] == letter else False for i in range(len(ser_1))]

ser_2 = ser_1[mask]

print(ser_2)

0     cat
1    fish
2     can
3    able
4    call
dtype: string
0     cat
2     can
4    call
dtype: string

In [ ]:
###

In [ ]:
--47
dates = '2021-01-01 2021-02-21 2021-03-18 2021-05-02 2021-06-23'.split()

ser_1 = pd.Series(
    data = dates,
    dtype = 'datetime64[ns]'
)

print(ser_1)

ser_2 = ser_1[ser_1 > '2021-03-18']

print(ser_2)

0   2021-01-01
1   2021-02-21
2   2021-03-18
3   2021-05-02
4   2021-06-23
dtype: datetime64[ns]
3   2021-05-02
4   2021-06-23
dtype: datetime64[ns]

In [ ]:
###

In [ ]:
--48
dates = '2021-01-01 2021-02-21 2021-03-18 2021-05-02 2021-08-11 2021-12-12'.split()

ser_1 = pd.Series(
    data = dates,
    dtype = 'datetime64[ns]'
)

print(ser_1)

ser_2 = ser_1[ser_1 > '2021-03-18']
ser_2 = ser_2[ser_2 < '2021-09-22']

print(ser_2)

0   2021-01-01
1   2021-02-21
2   2021-03-18
3   2021-05-02
4   2021-08-11
5   2021-12-12
dtype: datetime64[ns]
3   2021-05-02
4   2021-08-11
dtype: datetime64[ns]

In [ ]:
###

In [ ]:
--49
line = 'абрек аул барнаул кит арнлк'.split()

ser_1 = pd.Series(
    data = line,
    dtype = 'string'
)

print(ser_1)

ser_2 = ser_1[ser_1.str.startswith('а') & ser_1.str.endswith('к')]

print(ser_2)

0      абрек
1        аул
2    барнаул
3        кит
4      арнлк
dtype: string
0    абрек
4    арнлк
dtype: string

## **<font color='navy'>Атрибут name объекта pandas.Series, объект pandas.Index</font>**

---

In [ ]:
###

In [ ]:
--50
numbers = [10, 20, 30, 40]

ser = pd.Series(
    data = numbers,
    name = 'my_series'
)

print(ser)

0    10
1    20
2    30
3    40
Name: my_series, dtype: int64

In [ ]:
###

In [ ]:
--52
letters = ["a", "b", "c", "d"]

ser = pd.Series(
    data = letters,
    dtype = 'string',
    name = 'my_series'
)

print(ser)

0    a
1    b
2    c
3    d
Name: my_series, dtype: string

In [ ]:
###

In [ ]:
--53
countries = {
    'Индия':1416,
    'Китай': 1411,
    'США': 336,
    'Индонезия': 287}

ser = pd.Series(
    countries,
    name = 'численность населения',
    dtype = 'uint32'
)

ser.index.name = 'страна'

print(ser)

страна
Индия        1416
Китай        1411
США           336
Индонезия     287
Name: численность населения, dtype: uint32

In [ ]:
###

In [ ]:
--54
books = ['Оно', 'Она', 'Они', 'Он']
prices = [120, 240, 34, 333]

ser = pd.Series(
    data = prices,
    index = books,
    dtype = 'uint16',
    name = 'Цены на книги'
)

ser.index.name = 'Название'

print(ser)

Название
Оно    120
Она    240
Они     34
Он     333
Name: Цены на книги, dtype: uint16

In [ ]:
###

In [ ]:
--55
#1-й вариант
dates = np.array(
    '2022-12-03 2023-03-05 2023-06-01'.split(),
    dtype = 'datetime64[ns]'
)
temperatures = list(map(int, '-12 12 22'.split()))

ser = pd.Series(
    data = temperatures,
    dtype = 'int16',
    name = 'температура',
    index = dates
)

ser.index.name = 'дата'
# ser.index.dtype = 'datetime64[ns]'

print(ser)
print(ser.index)

дата
2022-12-03   -12
2023-03-05    12
2023-06-01    22
Name: температура, dtype: int16
DatetimeIndex(['2022-12-03', '2023-03-05', '2023-06-01'], dtype='datetime64[ns]', name='дата', freq=None)

In [ ]:
###

In [ ]:
--56
#2-й вариант
dates = '2022-12-03 2023-03-05 2023-06-01'.split()
temperatures = np.array(
    '-12 12 22'.split(),
    dtype = 'int16'
)

indexes = pd.Index(
    dates,
    name = 'дата',
    dtype = 'datetime64[ns]'
)

ser = pd.Series(
    data = temperatures,
    index = indexes,
    name = 'температура'
)

print(ser)
print(ser.index)

дата
2022-12-03   -12
2023-03-05    12
2023-06-01    22
Name: температура, dtype: int16
DatetimeIndex(['2022-12-03', '2023-03-05', '2023-06-01'], dtype='datetime64[ns]', name='дата', freq=None)

In [ ]:
###

In [ ]:
--57
dates = '2022-01-01 2022-04-04 2022-05-05 2022-07-23 2022-09-28'.split()
temperatures = '-9 4 8 19 22'.split()

indexes = pd.Index(
    dates,
    name = 'дата',
    dtype = 'datetime64[ns]'
)

ser = pd.Series(
    data = temperatures,
    index = indexes,
    name = 'температура',
    dtype = 'int16'
)

print(ser)
print(ser[ser > 5])

дата
2022-01-01    -9
2022-04-04     4
2022-05-05     8
2022-07-23    19
2022-09-28    22
Name: температура, dtype: int16
дата
2022-05-05     8
2022-07-23    19
2022-09-28    22
Name: температура, dtype: int16

In [ ]:
###

In [ ]:
--58
fruits = 'ананас апельсин баклажан банан клубника бурак картофель'.split()

indexes = pd.Index(
    data = [chr(i) for i in range(ord('a'), ord('a') + len(fruits))],
)

ser_1 = pd.Series(
    data = fruits,
    dtype = 'string',
    name = 'ягоды',
    index = indexes
)

print(ser_1)

ser_2 = ser_1[ser_1.str.startswith('б')]
ser_2.name = 'ягоды на букву б'

print(ser_2)

a       ананас
b     апельсин
c     баклажан
d        банан
e     клубника
f        бурак
g    картофель
Name: ягоды, dtype: string
c    баклажан
d       банан
f       бурак
Name: ягоды на букву б, dtype: string

In [ ]:
###

In [ ]:
--59
sales = 'булавки-25 нитки-12 иголки-34 пяльца-23'.split()
sales = [i.split('-') for i in sales]
sales = {a: b for a, b in sales}

ser_1 = pd.Series(
    data = sales,
    name = 'продажи',
    dtype = 'int64'
)

ser_1.index.name = 'товар'

print(ser_1)

ser_2 = ser_1[ser_1 % 2 == 1]
ser_2.name = 'нечетные продажи'
print(ser_2)

товар
булавки    25
нитки      12
иголки     34
пяльца     23
Name: продажи, dtype: int64
товар
булавки    25
пяльца     23
Name: нечетные продажи, dtype: int64

In [ ]:
###

In [ ]:
--60
data_all = '2023-01-05:234 2023-02-23:345 2023-03-12:239'.split()
data_all = [i.split(':') for i in data_all]

indexes = pd.Index(
    data = [i[0] for i in data_all],
    name = 'дата',
    dtype = 'datetime64[ns]'
)

ser = pd.Series(
    data = [i[1] for i in data_all],
    name = 'посещаемость',
    dtype = 'uint32',
    index = indexes
)

print(ser)
print(ser.index)

дата
2023-01-05    234
2023-02-23    345
2023-03-12    239
Name: посещаемость, dtype: uint32
DatetimeIndex(['2023-01-05', '2023-02-23', '2023-03-12'], dtype='datetime64[ns]', name='дата', freq=None)

In [ ]:
###

In [ ]:
--61
products = [
    'iPhone 13', 'Samsung Galaxy S21', 'Google Pixel 6',
    'OnePlus 9 Pro', 'Xiaomi Mi 11', 'Oppo Find X3 Pro',
    'Sony Xperia 1 III', 'LG Wing']

sales = [50000, 35000, 15000, 12000, 9000, 7500, 5000, 2000]

ser = pd.Series(
    data = sales,
    index = pd.Index(products, name = 'товар'),
    name = 'продажи за месяц'
)

print(ser)

print(*ser[ser == min(ser)].index.values)

товар
iPhone 13             50000
Samsung Galaxy S21    35000
Google Pixel 6        15000
OnePlus 9 Pro         12000
Xiaomi Mi 11           9000
Oppo Find X3 Pro       7500
Sony Xperia 1 III      5000
LG Wing                2000
Name: продажи за месяц, dtype: int64
LG Wing

In [ ]:
###